[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torchseal = {file = "."}
numpy = "*"
tenseal = {git = "git+https://github.com/OpenMined/TenSEAL.git"}

[dev-packages]

[requires]
python_version = "3.9"
