[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tenseal = {git = "git+https://github.com/OpenMined/TenSEAL.git"}
torch = "*"
torchseal = {file = "."}

[dev-packages]
pandas = "*"
torchvision = "*"
pytest = "*"
pipenv = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.9"
